body{
    text-align: center;
    font-style: italic;
    touch-action: pan-y;
    color: rgb(60, 50, 45);
    font-family: 'Quicksand', sans-serif;
}

#section1{
    margin-top: 4em;
}

#section2{
    margin-top: 2em;
}

button{
    width: 350px;
    height: 60px;
    border: none;
    background-color: rgb(210, 190, 170);
    cursor: pointer;
    border-radius: 30px;
    margin-top: 1em;
    transition: 0.2s ease;
}

img{
    width:100px;
    height: 100px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: rgb(60, 50, 45);

}

p{
    color: rgb(60, 50, 45);
}

button:hover{
    background-color: rgb(195, 175, 155);
    font-weight: bold;
}

h1{
    color: rgb(60, 50, 45);
}

h4{
    color: rgb(60, 50, 45);
}

